@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Loading Page</title>
    <style>
        .text-center h2 {
            font-size: 2.5em;
            font-weight: bold;
            color: #333;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2 class="display-4">Welcome to the Product Loading Page!</h2>
        <br />
        <br />
        <img src="https://img.freepik.com/free-vector/storehouse-workers-keeping-records-boxes_74855-11065.jpg" alt="" class="img-fluid" />
        <br />
        <br />
        <p>To return to the repository page<a href="">please click here here.</a></p>
    </div>
  
</body>

</html>
